;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Sun Jun  2 20:46:46 2013
;; Desktop file format version 206
;; Emacs version 24.2.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("CEDET" "nativedecodefiledescriptor" "ECB can" "ECB can not" "lock" "config" "newaddr" "kbmpheadersize" "shrt_max" "drawtocanvas" "awtocanvas(canvas);\n        }\n\n   " "vas" "wtocanvas" "tocanvas(canvas);\n " "fra" "lib"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/git/xbs/doc/tex/tex.tex" "~/git/xbs/emacs/site-lisp/misc/mine-auctex.el" "~/git/xbs/emacs/site-lisp/misc/mine-cedet.el" "~/.emacs.d/init.el"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/netcoffee/git/xbs/doc/tex/tex.tex"
  "tex.tex"
  'latex-mode
  '(auto-complete-mode reftex-mode undo-tree-mode global-auto-revert-mode outline-minor-mode linum-mode)
  1
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/home/netcoffee/git/xbs/emacs/init.el"
  "init.el"
  'emacs-lisp-mode
  '(hi-lock-mode undo-tree-mode global-auto-revert-mode)
  2893
  '(1401 nil)
  t
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/home/netcoffee/git/xbs/emacs/site-lisp/misc/mine-auctex.el"
  "mine-auctex.el"
  'emacs-lisp-mode
  '(undo-tree-mode global-auto-revert-mode)
  148
  '(90 nil)
  t
  nil
  '((buffer-file-coding-system . utf-8-unix)))

